body {
	width:100%;
	margin:0;
	padding:0;
	background-color:#efefef;
	font-family: "Arial";
	color :#5d5d5d;
}
header{
	max-width: 960px;
    margin: 0 auto;
}
p{
	line-height: 1.5;
	font-size: 14px;
}

#header-title{
	text-align: center;
}
#page{
	max-width:960px;
	margin:0 auto;
	background-color:white;
	box-shadow: #8b8b8b 0px 0px 6px;
}
h1{
	font-size: 33px;
}
li.menuli{
	list-style: none;
	display: inline-block;
}
a{
	text-decoration: none;
    color: #0645ad;
}
a:hover{
	color: #0645ad;
	text-decoration: underline;
}
a:visited{
	color: #0b0080;
}
a.menulink {
    display: block;
    max-width: 198px;
    font-size: 16px;
    padding: 18px;
    margin: 0px;
    border: 15px #000;
    color:#5d5d5d;
}
a.menulink:hover{
	color: #5d5d5d;
	text-decoration: underline;
}
a.menulink:visited{
	color: #5d5d5d;
}
ul#main-menu{
	margin: 0;
    padding: 0;
    text-align: center;
}
#pagetitle{
	border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 10px;
    margin: 0;
}
#content{
	padding: 0 20px 20px 20px;
}
#content article{
	padding: 0 10px;
}

.code{
	font-family: 'courier';
    color: blue;
    border: solid 1px black;
    padding-left: 20px;
    background: #efefef;
}

#structure li{
	list-style: none;
}